.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
  background-image: url("https://cdn.roosterteeth.com/image/upload/t_l/f_auto/3/9c9d1126-f1db-41bf-9fba-9408d2e74713/original/1591035291.jpg");
}

.header h1 {
  font-size: 3rem;
}

.jumbotron {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 1%;
}

.image-margin {
  margin: 0 auto;
}

/* 
I'll come back and try to fix this.
.ffbackground {
  background-image: url("https://cdn.roosterteeth.com/image/upload/t_l/f_auto/3/f193cbb6-05c7-47fb-a400-1964dd2f23e3/original/1591034633.png");
  background-position: center;
  background-color: black;
  color: black;
  margin: 0 auto;
} */

.logo {
  width: 12%;
  color: black;
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  margin-bottom: 1%;
}

ul li {
  margin-top: 2%;
}

.nav-item a {
  color: white;
}

.nav-item a:visited {
  color: white;
}

.dropdown-menu a {
  color: black;
}

.dropdown-menu a:visited {
  color: black;
}
